h1 
  | 查看#{Vendor.model_name.human}
  .pull-right
    => link_to '编辑', edit_admin_vendor_path(@vendor), class: 'btn btn-primary'
    = link_to '返回', admin_vendors_path, class: 'btn btn-primary'

.panel
  .panel-heading
    .panel-heading-btn
      a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"
        i class="fa fa-expand"
      a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"
        i class="fa fa-minus"
  .panel-body
    .profile-container
      .profile-info
        .table-responsive
          table.table.table-profile
            tr
              td.field
                | #{Vendor.human_attribute_name(:name)}
              td
                a
                  = @vendor.name
            tr.divider
              td[colspan='2']
            tr
              td.field
                | #{Vendor.human_attribute_name(:contact_name)}
              td
                a
                  = @vendor.contact_name
            tr.divider
              td[colspan='2']
            tr
              td.field
                | #{Vendor.human_attribute_name(:phone_number)}
              td
                a
                  = @vendor.phone_number
            tr.divider
              td[colspan='2']
            tr
              td.field
                | #{Vendor.human_attribute_name(:description)}
              td
                a
                  = @vendor.description
            tr.divider
              td[colspan='2']
