<!-- begin #header -->
<div id="header" class="header navbar navbar-default navbar-fixed-top">
  <!-- begin container-fluid -->
  <div class="container-fluid">
    <!-- begin mobile sidebar expand / collapse button -->
    <div class="navbar-header">
      <a href="/admin" class="navbar-brand"><span class="navbar-logo"></span>admin <%#= Settings.site.name %></a>
      <button type="button" class="navbar-toggle" data-click="sidebar-toggled">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <!-- end mobile sidebar expand / collapse button -->
    <% if true %>
    <!-- begin header navigation right -->
    <ul class="nav navbar-nav navbar-right">
      <li>
        <form class="navbar-form full-width">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="" />
            <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
          </div>
        </form>
      </li>
      <li class="dropdown">
        <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
          <i class="fa fa-bell-o"></i>
          <!-- <span class="label">5</span> -->
        </a>
        <ul class="dropdown-menu media-list pull-right animated fadeInDown">
          <!-- <li class="dropdown-header">待处理订单 (5)</li>
          <li class="media">
              <a href="javascript:;">
                  <div class="media-left"><i class="fa fa-bug media-object bg-red"></i></div>
                  <div class="media-body">
                      <h6 class="media-heading">衣柜</h6>
                      <div class="text-muted f-s-11">P.O：2016091409</div>
                  </div>
              </a>
          </li> -->
        </ul>
      </li>
    </ul>
    <!-- end header navigation right -->
    <% end %>
  </div>
  <!-- end container-fluid -->
</div>
<!-- end #header -->
