<div class="container-fluid">
  <div class="row top-help">
    <div class="col-md-12">
      <p class="pull-right"><a href="http://www.tamigos.com/pages/help">需要帮助？</a></p>
    </div>
  </div>

  <div class="row login-body">
    <div class="col-md-5 col-md-offset-1 col-xs-12 text-center">
      <div class="slogan">
        <%= image_tag 'tamigos/tmglogo.png', class: 'image img-responsive' %>
        <h2 class="text-center text">极富洞察力的并购融资平台</h2>
      </div>
    </div>
    <div class="col-md-4 col-xs-12 login-box-container">
      <%= render 'login_box' %>
    </div>
  </div>
</div>
