<footer id="footer">
  <div class="footer-bottom text-center" style="padding: 10px 0px;">
    <div class="container">
      <div class="footer-bottom-content">
        <address>
          <p>
            <a href="#"><i class="fa fa-arrow-circle-up"></i>&nbsp;点我回到顶部</a>
          </p>
        </address>
      </div><!-- /.footer-bottom-content -->
    </div><!-- /.container -->
  </div><!-- /.footer-bottom -->
</footer><!-- /#footer -->