/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 *{
     list-style: none;
     text-decoration:none;
     box-sizing: border-box; 
 }
 .container-bgcolor{
     background-color: rgba(250, 245, 245, 0.966);
 }
 .topbar {
    width:100%;
    height:52.984px;
    margin-bottom:30px;
    background-color:#e81a1b;  
}
.topbar .container{
    height:54px 
}
 .topbar .container .row-height{
    height:54px !important;
 }
.nav-img{
    position:absolute;
    top:10px;
    left:15px
}
.text-top{
    position:absolute;
    top:15px;
}
.white-text{
    color: #fff
}
.text-top a:hover{
    text-decoration:none;
    color: #fff 
}
.topbar-right{
    position:relative;
    left:71px;
}
.topbaruser{
    position: relative;
   
    top:15px;
    font-weight: 700;
}
.topbaruser-dropdown {
    
    display: inline-block;
}
.topbaruser a{
    text-decoration:none;
    color: #fff 
}
.dropdown-menu{
    background-color: #e81a1b;
    position:absolute ;
    top:35px;
    left:-15px;
     height:82px ;
    padding-top: 0px;
    padding-bottom:0px ;
    border:0;

}
.dropdown-menu li a:hover{
    height:40px;
}
.dropdown-menu li:hover{
    
  .white-text{
    color:red
   }
 }
.dropdown-menu li{
    height:41px;
    border-top:1px solid #fff; 
}
.dropdown-menu li a {
    color: #fff; 
    line-height:2.428571  
}
 .dropdown-menu li a span{
  text-align:center;
  line-height:41px  
 }
.login-text{
    text-align: center;
    line-height: 45px
}
.hidden-nav .login-text a:hover{
    text-decoration:none;
    color: #fff 
}
.searchNlogin{
    width:156%;
   
    position: relative;
    top:-26px;
    left:74px ;
}
.topbar-ul{
    width:58% ; 
}
.topbar-ul li{
    width:25% ; 
    float: left;
    border-left:1px solid #f0f3f5
}
.topbar-ul li a:hover{
    text-decoration:none;
    color: #fff 
}
.content-body .container{
  
}

.content-left{
   position: relative;
    float:left;
    width:195px;
    height:561px ;
    background-color: #fff;
    border-radius: 5px;
    padding: 15px 10px;
    left:-34px ;
  
}
//  .fixed{
//     position:fixed;
//     top:-25px;
//     left:19px;
   
// }
.side{
   position: relative;
   bottom: 30px;
}
.content-left .list-group .list-group-item{
    border: none;
    margin-top: 7px;
    text-align:center;
    font-size: 15px;
}
.active{
    background-color: #e81a1b !important;

}
.content-left .list-group .list-group-item:hover{
    background-color: #e81a1b;
    border-radius: 5px;
    color:#fff 
}
.contenMiddle{
    width:100%;
    margin-left:10px 
}
.contenMiddle-top{
    width:100%;
     height:439px;
    border-radius: 5px;
}
.contenMiddle-top .picture{
    width:100%;
    height:409px;
    padding:15px;
    background-color: #fff;
    border-radius: 5px;
}

.carousel-indicators{
    width:100% ;
    height:49px ;
    position:static;
    top:320px;
    left:0px ;
    margin-left:0px 
    
    
}
.carousel-indicators li{
    width:80px;
    height:49px;
    border:none;
    background-color:rgba(250, 245, 245, 0.397) ;
    opacity:0.3 ;
    
}
.carousel-indicators li img{
    border-radius:5px; 
    
}
.carousel-indicators .active{ 
    width:80px;
    height:49px;
    
    background-color: rgba(250, 245, 245, 0)!important;
    opacity:1 ;
}
 .carousel-inner {
    
   height:340px ;
}
.carousel-inner .a-bar{
    width:100% ;
    height:30px;
    text-decoration:none;
    display: block;
    background-color: #444;
    color: #fff !important;  
}
.carousel-inner .active{
    background-color:#444 !important; 
}
.content-body .list-group .active{
    border-radius:5px 
}
.contenMiddle-buttom{
    width:100%;
    height:100%; 
    padding:15px;
    margin-top:-10px; 
    background-color:#fff;
    border-radius:5px; 
}
.contenMiddle-buttom h4 a{
    color:black;
    font-weight:bold;  

}
.contenMiddle-buttom h4 a:hover{
    color:#e81a1b;
    text-decoration:none; 
}
.contenMiddle-buttom .img1{
    width:100%;
    height:100px;
}
 .contenMiddle-buttom .row{
    padding-left:15px;
    padding-right:15px;
 }
  .contenMiddle-buttom .row-padding{
    padding-left:5px;
    padding-right:5px;

  }
.list-text a{
    text-decoration: none;
    color:#666 ;
    font-size: 12px;
}
.content-line{
    margin: 10px 5px;  
}
 .row-margin{
    margin:10px 0px;
}
.contenMiddle-buttom .row-padding0{
    padding-left: 0px;
    padding-right: 0px;
}
.contentRight{
    width:100%;  
}
.contentRight .img-responsive{
    width:100%;
}
.contentRight .contentRight-search,.contentRight-ad,.contentRight-culturelist,.contentRight-ad1,.contentRight-ad2 {
    width:100%; 
    padding:15px;
    border-top:5px solid #e81a1b;
    margin-bottom:30px;
    background-color:#fff ;
    border-radius:5px ;
    position: relative;   

}

.contentRight .contentRight-search{
    height:133px;
}
.row-padding5{
    padding-left: 5px;
    padding-right: 5px; 
}
.contentRight .contentRight-search .search-input{
    width:100% ;
    padding:15px;
    border:1px solid #ddd;
    border-radius:5px;   
}
.contentRight .contentRight-search .btn-primary{
    font-size: 12px;
    color: #fff;
    font-weight: 700;
    padding: 10px 30px 7px;
    border-radius: 0;
    margin-top: 10px;
    background-color: #ed1c24;
    border-color: #ed1c24;
    text-transform: uppercase;
}
 .contentRight .contentRight-ad{

    border-top:5px; 
    // height:269.47px;
}
.contentRight .contentRight-ad1{
    border-top:5px; 
    // height:292.5px;
   
}
.ad-picture:after{
    position: absolute;
    content: "AD";
    right: 0;
    top: 2px;
    width: 25px;
    height: 20px;
    padding: 5px;
    font-size: 10px;
    color: #868686;
    background-color: #fff;
    font-weight: 500;
}
.ad-picture1{
     position: relative;
    
}
.ad-picture1:after{
    position: absolute;
    content: "AD";
    right: 0;
    top: 4px;
    width: 25px;
    height: 20px;
    padding: 5px;
    font-size: 10px;
    color: #868686;
    background-color: #fff;
    font-weight: 500;
}
.img2{
    width:100%;
    height:70px;
}
.contentRight .contentRight-culturelist .row .text-color{
    color:#777 
}
.contentRight .contentRight-culturelist .text-color:hover {
   text-decoration:none;
   color:#e81a1b ; 
}
.contentRight .contentRight-culturelist .culturelist-link a:hover {
    text-decoration:none;
    color:#e81a1b ;  
}
.culturelist-link {
    text-align: center
}
.contentRight-culturelist p a{
    color:#868686 
}
.contentRight-culturelist p a:hover{
    text-decoration:none;
    color:#e81a1b  
}
.contentRight-ad2{
     border-top:0px ;
    // height:408px ;
}

.h4-fontweight{
    color: #222629;
    font-weight:700px;
    font-family: 'Microsoft YaHei', sans-serif;
}
.contentRight-culturelist .row .row-margin a:hover{
    text-decoration: none;
    color:#e81a1b; 
}
.footer{
    background-color:#fff; 
    width:100% ;
    height:282px ;
    font-size: 14px;
    color: #797878;
    line-height: 23px;
    padding: 60px 0 50px;
    border-top: 1px solid #f0f3f5;
    text-align:center; 
    position: relative;
   
}
.foot-content{
    max-width: 990PX;
    display: inline-block;
}
.foot-pic{
    margin-bottom: 40px;
    position:relative;
    left:81px ; 
  
}
.foot-link a{
    color:#868686 
}
.foot-link a:hover{
    text-decoration:none;
    color: #e81a1b 
}
.box-bg{
    height:313px;
    width:1253px;
    padding: 15px;
    background-color: #63D5C4;
    box-shadow: 1px -3px 20px 1px #000;
}
.box-bg .box-center{
    border-radius: 10px;
    box-shadow: 0px 0px 60px -10px #000;
    overflow: hidden; 
    border:1px solid red ;
    height:600px ; 
}
.box-bg .box-center .box_center_left{
    background: linear-gradient(#80E3D1, #63D5C4);
    height: 600px;
    padding: 0px 15px;
}
.box_center_left .icon-left{
    color: #fff;
    margin-top: 15px;
    font-size: 25px; 
}
.box_center_left .text-color{
    color: #fff!important;
    margin-left: 10px;
    font-size:20px 
}
.color-white{
    color: #fff!important;
}
.text-center{
    text-align:center; 
}
.box_center_left .box-header{
    margin:100px 30px 50px 30px
}
.box_center_left .box-small{
    margin: 15px 0px;
    line-height: 30px;
    letter-spacing: 0.05em;

}
.color-green{
    color: #53C5B9 !important;
}
.box_center_left .box-center-icon .grass_style{
    font-size: calc(100% + 50px);
}
.box_center_left .box-center-icon .tree_style{
    font-size: calc(100% + 250px);
}
.box-bg .box-center .box_center_right{
    background-color:#3C3E52; 
    height: 600px;
   
}
.box_center_righ .btn-group{
    position: relative;
    display: inline-block;
    vertical-align: middle;  
}
.box_center_righ .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle){
    border-bottom-right-radius:0;
    border-top-right-radius: 0;
}
.btn-group>.btn:first-child {
    margin-left: 0;
}
.right_btn {
    color: #fff;
    background: #666;
    background-color: #666;
    border-radius: 18px;
}
.btn-group button:hover{
    color:#fff;
    background-color:#53C5B9  
}
#bind-phone .from-control{
   display: block;
   width: 100%;
   height: 34px;
   padding: 6px 12px;
   border-radius: 4px;
   border: 1px solid #ccc;
}
#bind-phone .from-group{
    margin-top:30px;
    margin-bottom:15px 

}
.input-group{
    display:table;
    margin-top:30px;
    position: relative;  
}
.input-group-btn{
vertical-align:bottom 
}
.login-button{
    margin-top:30px 
}
.right_btn{
    border-radius: 18px;  
}
.right_btn_bg{
    background-color: #80E3D1;
    box-shadow: -1px 11px 13px -5px #2e2e2e;
}
.login-button input:hover{
    color: white;
}
#bind-wechat img{
    margin-left: 50%;
    transform:translate(-50%) ;
    background-color:#eee;
    padding:10px  
}
#bind-wechat p{
    color: #eee;
    margin-top: 15px; 
    text-align: center
}
.login-content{
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}
.login-content .login-left{
    position: fixed;
    right:500px ;
    left:0px ;
    top:0px;
    bottom:0;
    overflow: hidden;
}
// .login-left{
//      width:614px;
    
//  }
.login-content .login-left .login-left-img{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}
.login-content .login-left .img{
    position: absolute;
    max-height: 100%;
    min-width: 100%;
    top: -1960px;
    bottom: -1960px;
    left: -1960px;
    right: -1960px;
    margin: auto;
 }
 .login-content .login-left .login-left-content{
    background: rgba(0,0,0,0.7);
    color: #999;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 30px 60px;
    font-size: 14px;
    z-index: 20;
    font-weight: 300;
    min-width: 680px;
 }
 .login-content .login-left .login-left-content .content-title{
    color: rgba(255,255,255,0.8);
    font-weight: 300;
    font-size: 28px;
 }
 .fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
 }

.text-success {
    color: #00acac !important;
}
.login-right{
    float: right;
    width: 500px;
    background-color: #d9e0e7;
    // max-height:100%;
}
.login-right .login-right-top{
    position: relative;
    top: 0;
    margin: 0;
    left: 0;
    right: 0;
    padding: 100px 60px 0;
    font-weight: 300;
}
.login-right .login-right-top .top-left{
    color: #242a30;
    padding: 0;
    font-size:28px;
}
.login-right .login-right-top .top-left .logo{
    border: 14px solid transparent;
    border-color: #4DCACA #31A3A3 #1D8888;
    width: 28px;
    height: 28px;
    position: relative;
    font-size: 0;
    margin-right: 10px;
    top: -9px;
}
.login-right .login-right-top .top-icon{
    position: absolute;
    top: 98px;
    right: 10px;
    opacity: 0.1;
}
.login-right-buttom{
    width: 500px;
    padding: 30px 60px;
    color: #999;
    margin: 0 auto;
    position: relative;
    left:-61px ;
}
.login-right-buttom .buttom-content{
    margin-bottom: 30px !important;
    margin-top: 30px !important;
}
.login-right-buttom .buttom-content .btn-success{
    color: #fff;
    background: #00acac;
    border-color: #00acac;
}
.login-right-buttom .buttom-content .btn-block{
    display: block;
    width: 100%;
}
.login-right-top small{
    font-size: 14px;
    display: block;
    color: #707478;
}
.wenxin-hidden{
    display:none;
}
.modal-content{
    width:393.75px;
}
.modal-body .from-control{
    border: 1px solid #ccd0d4;
    box-shadow: none;
    font-size: 12px;
    border-radius: 3px; 
    display: block;
    width: 100%; 
    color: #555;
    background-color: #fff;
    background-image: none; 
}
.modal-body .input-lg{
    height: 46px;
    padding: 10px 16px;
    line-height: 1.3333333;
}
.bg-red{
    height:246px;
    background-color: #e81a1b
}
.tr-breadcrumb{
    overflow: hidden;
    margin-bottom: 30px;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    line-height:0px 
}
.tr-breadcrumb .title h1{
    font-size: 36px;
    color: #e81a1b;
    margin: 0;
    font-weight: bolder
}
.tr-breadcrumb .breadcrumb{
    margin-bottom:0px;
    background-color: transparent;
    padding: 15px 15px;
    border-radius: 4px;
}
.tr-breadcrumb .breadcrumb li a{
    color: #afb1b2;
    font-size: 14px;
}
.tr-breadcrumb .breadcrumb li a:hover{
    text-decoration:none;
    color:  #e81a1b; 
}

.user-bottom .user-bottom-box{
    background-color: #fff;
    border-radius: 5px;
    padding: 15px;
    margin-bottom: 30px;
    overflow: hidden;
    position: relative;
     height:175px ;
}
@media (min-width: 1200px){
    .content-left{
        position: relative; 
        left:0px;  
     }
}
@media (min-width: 992px) and (max-width: 1200px){
  .content-left{
     position: relative; 
     left:-35px;  
  }
  .carousel-inner{
      height:287px ;
  }
  .contenMiddle-top{
      height:419px ;
  }
  .contenMiddle-top .picture{
      height:370px ;
  }
}
 @media (max-width: 992px) and (min-width: 768px){
    .topbar{
        height:151px; 
    }
    .topbar .topbaruser{
        position: relative;
        top:-21px;
        left:526px ; 
    } 
    .topbar .topbar-right{
        position: relative;
        top:86px
    }
    .searchNlogin {
        position: relative;
        left:390px ;
        top:-13px
    }
    .searchNlogin .topbar-ul{
        width:32% ;
    }
   .content-left{
      width:100%;
      position: relative; 
      left:0px ;    
}
   .contenMiddle-top .picture{
    position:relative;
       width:100%;
       height:100% ;
   }
 .carousel-inner{
     height:370px ;
 }
   .contentRight .contentRight-ad {
      height:676.47px;  
    }
    .contentRight .contentRight-ad1{
        height:743.47px;  
    }
    .contentRight .contentRight-ad2{
        height:1051.47px;  
    }
    .contenMiddle{
        margin-left:0px;

    }
    .contenMiddle-top .picture{
        position: relative;
        top:30px;
    }
    .contenMiddle-buttom{
        margin-top:57px 
    }
    .contentRight .contentRight-search{
        position: relative;
        top:30px
    }
 }

 @media (max-width: 768px) and (min-width: 375px){
    .topbar{
        height:100px; 
    }
    .topbar .topbaruser{
        position: relative;
        top:44px;
        left:294px ; 
    }
    .topbar .topbar-ul li{
        border-left:0px 
    }
    .searchNlogin {
        width:85%;
        position: relative;
        left:373px ;
        top:0px
        
    } 
    .content-left{
      float: none; 
    }
    // .carousel-indicators{
    //     position:absolute;
    //     top:361px;
    //     left:198px ; 
    // }
    .carousel-inner{
        height:182px ;
    }
    .contenMiddle-top .picture{
        height:253px ;
    }
    .contenMiddle-buttom{
        position: relative;
        top:-151px
    }
    .contentRight{
        position: relative;
        top:23px
    }
    .footer{
        position: relative;
        top:30px
    }
    .contentRight{
        position: relative;
        top:-120px
    }
}

    @media (max-width: 375px){
        .topbar{
            height:100px; 
        }
        .topbar .topbaruser{
            position: relative;
            top:44px;
            left:-65px ; 
        }
        .topbar .topbar-ul li{
            border-left:0px 
        }
        .searchNlogin {
            width:190%;
            position: relative;
            left:3px ;
            top:0px
            
        }  
        .carousel-inner{
            height:182px ;
        }
        .contenMiddle-top .picture{
            height:253px ;
        }
        .contenMiddle-buttom{
            position: relative;
            top:-151px
        }
        .contentRight{
            position: relative;
            top:-120px
        }
    }

 