<div class="topbar">
    <div class="container">
        <div class="row">
             <div class="col-md-3">
                 <a href="javascript:;" title="文广通,公共文化大数据平台" class="nav-img">
                    <img class="img-responsive" src="http://s.tanmer.cn/qgm0" alt="文广通,公共文化大数据平台" style="max-height:35px;min-width:135px"></img>
                 </a>
             </div>
             <div class="col-md-3">
                 <div class="text-top">
                    <a href="javascript:;" class="white-text dropdown-toggle" type="button" id="selectArea" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" title="文广通地区分站">
                    选择地区 &nbsp;
                   <i class="glyphicon glyphicon-map-marker "></i>
                    </a> 
                 </div>
             </div>
             <div class="col-md-6">
                 <div class="topbar-right" id="topbar-right"> 
                    <div class="topbaruser" >
                        <div class="dropdown topbaruser-dropdown white-text">
                      你好,
                            <a href="#" class="white-text  dropdown-toggle" aria-expanded="true" data-toggle="dropdown">欢迎访问
                            <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                            <li role="presentation" class="menu-li">
                                <a href="#" ><span class="white-text">登录</span></a>
                            </li>
                            <li role="presentation">
                                <a href="#"><span class="white-text ">注册</span></a>
                            </li>
                            </ul>
                        </div>
                     </div>
                    <div class="searchNlogin">
                            <ul class="topbar-ul">
                                <li class="topbar-li login-text">
                                    <a href="/admin/sign_in" title="文广通发布新活动" class="white-text">发布新活动</a>
                                </li>
                                <li class="topbar-li login-text">
                                <a href="http://www.wgtong.cn/complaints" title="文广通侵权说明" target="_blank" class="white-text">侵权说明</a>
                                </li>
                                <li class="topbar-li login-text">
                                <a href="/users/self_message?type=unread" class="white-text">
                                <i class="glyphicon glyphicon-bell"></i>

                                </a>
                                </li>
                            </ul>
                        </div>
                    </div>                 
               </div>
             
        </div>
    </div>
</div>
<div class="content-body">
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <div class="content-left">
                    <ul class="list-group"> 
                    <a href="#" class="list-group-item active">推荐</a>
                    <a href="#" class="list-group-item">演出</a>
                    <a href="#" class="list-group-item">赛事</a>
                    <a href="#" class="list-group-item">培训</a>
                    <a href="#" class="list-group-item">讲座</a>
                    <a href="#" class="list-group-item">展览</a>
                    <a href="#" class="list-group-item">亲子</a>
                    <a href="#" class="list-group-item">文遗</a>
                    <a href="#" class="list-group-item">公益</a>
                    <a href="#" class="list-group-item">其他</a>
                    <a href="#" class="list-group-item">咨询</a>
                    </ul>
                </div> 
           </div>
            <div class="col-md-7">
                <div class="contenMiddle">
                     <div class="contenMiddle-top">
                          <div class="picture">
                                <div id="myCarousel" class="carousel slide">
                                    <!-- 轮播（Carousel）指标 -->
                                    <ol class="carousel-indicators">
                                        <li data-target="#myCarousel" data-slide-to="0" class="active">
                                        <img class="img-responsive" src="http://www.wgtong.cn/ckeditor_assets/pictures/1231/original_1.jpg" alt="First slide" style="width:80px;height:38.7px">
                                        </li>
                                        <li data-target="#myCarousel" data-slide-to="1">
                                        <img class="img-responsive" src="http://www.wgtong.cn/ckeditor_assets/pictures/1232/original_3.jpg" alt="First slide" style="width:80px;height:38.7px">
                                        </li>
                                        <li data-target="#myCarousel" data-slide-to="2">
                                        <img class="img-responsive" src="http://www.wgtong.cn/ckeditor_assets/pictures/1230/original_2.jpg" alt="First slide" style="width:80px;height:38.7px">
                                        </li>
                                    </ol>   
                                    <!-- 轮播（Carousel）项目 -->
                                    <div class="carousel-inner">
                                        <div class="item active">
                                        <a href="#" title="联系我们 注册商家 成为我们的一员"><img src="http://www.wgtong.cn/ckeditor_assets/pictures/1231/original_1.jpg" alt="联系我们 注册商家 成为我们的一员"></a>
                                        <a href="#" class="a-bar">联系我们 注册商家 成为我们的一员</a>
                                        </div>
                                        <div class="item">
                                        <a href="#" title="欢迎入住 携手聚合城市公共文化"><img src="http://www.wgtong.cn/ckeditor_assets/pictures/1232/original_3.jpg" alt="欢迎入住 携手聚合城市公共文化"></a>
                                            <a href="#" class="a-bar">欢迎入住 携手聚合城市公共文化</a>
                                         </div>
                                        <div class="item">
                                        <a href="#" title="陈奕讯/王凯/蔡依林等几十明星阵容空降成都"><img src="http://www.wgtong.cn/ckeditor_assets/pictures/1230/original_2.jpg" alt="陈奕讯/王凯/蔡依林等几十明星阵容空降成都"></a>
                                        <a href="#" class="a-bar">陈奕讯/王凯/蔡依林等几十明星阵容空降成都</a>
                                        </div>
                                    </div>   
                                                                
                                </div> 

                          </div>
                     </div>
                     <div class="contenMiddle-buttom">
                          <div class="row ">
                               <div class="col-md-12 row-padding">
                                   <h4><a href="#">第二张仅需100元 | 让人笑着却心里流泪的《夏洛特烦恼》!</a></h4>
                               </div>
                               
                               <div class="row ">                              
                                    <div class="col-md-3 row-padding">
                                        <a href="#"  title="第二张仅需100元 | 让人笑着却心里流泪的《夏洛特烦恼》! "><img src="http://www.wgtong.cn/ckeditor_assets/pictures/1732/original_1.gif" alt="第二张仅需100元 | 让人笑着却心里流泪的《夏洛特烦恼》!" class="img1"></a>
                                    </div>
                                    <div class="col-md-3  row-padding">
                                        <a href="#" title="第二张仅需100元 | 让人笑着却心里流泪的《夏洛特烦恼》! "><img src="http://www.wgtong.cn/ckeditor_assets/pictures/1733/original_1.jpg" alt="第二张仅需100元 | 让人笑着却心里流泪的《夏洛特烦恼》!" class="img1"></a>
                                    </div>
                                    <div class="col-md-3  row-padding">
                                    <a href="#" title="第二张仅需100元 | 让人笑着却心里流泪的《夏洛特烦恼》! "><img src="http://www.wgtong.cn/ckeditor_assets/pictures/1734/original_2.jpg" alt="第二张仅需100元 | 让人笑着却心里流泪的《夏洛特烦恼》!" class="img1"></a>
                                    </div>
                                    <div class="col-md-3  row-padding">
                                    <a href="#" title="第二张仅需100元 | 让人笑着却心里流泪的《夏洛特烦恼》! "><img src="http://www.wgtong.cn/ckeditor_assets/pictures/1735/original_3.jpg" alt="第二张仅需100元 | 让人笑着却心里流泪的《夏洛特烦恼》!" class="img1"></a>
                                    </div>
                               </div>
                               <div class="col-md-12 row-padding">
                                     <div class="list-text">
                                         <a class="" href="http://www.wgtong.cn/fontend/sites/78" title="大麦网"> 大麦网&nbsp</a> · 
                                         <a class="" href="javascript:;" title="演出">&nbsp 演出&nbsp</a> · 
                                         <a class="" href="javascript:;" title="2018-2-2"> &nbsp2018-2-2&nbsp</a> · 
                                         <a class="" href="javascript:;" title="￥280.0">&nbsp ￥280.0&nbsp</a>
                                     </div>
                               </div>
                          </div>
                          <hr class='content-line'></hr>
                          <div class="row ">
                                <div class="col-md-12 row-padding">
                                    <h4><a href="#">户外旅游 | 年俗·军事冬令营名额所剩无几(亲子) </a></h4>
                                </div>
                          
                                <div class="row ">                              
                                    <div class="col-md-3 row-padding">
                                        <a href="#" title="户外旅游 | 年俗·军事冬令营名额所剩无几(亲子) "><img src="http://www.wgtong.cn/ckeditor_assets/pictures/1729/original_1.jpg" alt="户外旅游 | 年俗·军事冬令营名额所剩无几(亲子) " class="img1"></a>
                                    </div>
                                    <div class="col-md-3  row-padding">
                                        <a href="#" title="户外旅游 | 年俗·军事冬令营名额所剩无几(亲子) "><img src="http://www.wgtong.cn/ckeditor_assets/pictures/1728/original_1.png" alt="户外旅游 | 年俗·军事冬令营名额所剩无几(亲子) " class="img1"></a>
                                    </div>
                                    <div class="col-md-3  row-padding">
                                    <a href="#" title="户外旅游 | 年俗·军事冬令营名额所剩无几(亲子) "><img src="http://www.wgtong.cn/ckeditor_assets/pictures/1730/original_1.png" alt="户外旅游 | 年俗·军事冬令营名额所剩无几(亲子) " class="img1"></a>
                                    </div>
                                    <div class="col-md-3  row-padding">
                                    <a href="#" title="户外旅游 | 年俗·军事冬令营名额所剩无几(亲子) "><img src="http://www.wgtong.cn/ckeditor_assets/pictures/1731/original_1.png" alt="户外旅游 | 年俗·军事冬令营名额所剩无几(亲子) " class="img1"></a>
                                    </div>
                                </div>
                                <div class="col-md-12 row-padding">
                                        <div class="list-text">
                                            <a class="" href="http://www.wgtong.cn/fontend/sites/78" title="文广通"> 文广通&nbsp</a> · 
                                            <a class="" href="javascript:;" title="演出">&nbsp 演出&nbsp</a> · 
                                            <a class="" href="javascript:;" title="2018-2-3"> &nbsp2018-2-3&nbsp</a> · 
                                            <a class="" href="javascript:;" title="免费">&nbsp 免费&nbsp</a>
                                        </div>
                                </div>
                         </div>
                         <hr class='content-line'></hr>
                          <div class="row row-margin row-padding0" >
                               <div class="col-md-3  row-padding">
                               <a href="#" ><img src="http://www.wgtong.cn//ckeditor_assets/pictures/1287/original_30792895523391309.jpeg" alt="第二张仅需100元 | 让人笑着却心里流泪的《夏洛特烦恼》!" class="img1 "></a>
                                </div>
                               <div class="col-md-9"> 
                                    <h4><a href="#" title="[免费参加]重磅讲座.成都|蜕变的HR————内外兼修的领袖">[免费参加]重磅讲座.成都|蜕变的HR—— ——...</a></h4>  
                                    <div class="list-text">
                                    <a class="" href="javascript:;" title="2018-1-19"> &nbsp2018-1-19&nbsp</a> · 
                                    <a class="" href="http://www.wgtong.cn/fontend/sites/78" title="悦隆堡酒店四楼会议室">悦隆堡酒店四楼会议室&nbsp</a>  
                                    <br>
                                    <a class="" href="javascript:;" title="文广通">&nbsp 文广通&nbsp</a> · 
                                    <a class="" href="javascript:;" title="讲座">&nbsp 讲座&nbsp</a>  ·    
                                    <a class="" href="javascript:;" title="￥免费">&nbsp 免费&nbsp</a> 
                                   </div>
                               </div>
                          </div>
                          <hr class='content-line'></hr>

                          <div class="row ">
                          <div class="col-md-12 row-padding">
                          <h4><a href="#" title="[免费参加]艺术体验,版画体验(二)—— ——套色版画(报名进行中)">[免费参加]艺术体验,版画体验(二)—— ——套色版画(报名...</a></h4> 
                          </div>
                    
                          <div class="row ">                              
                              <div class="col-md-3 row-padding">
                                  <a href="#" title="[免费参加]艺术体验,版画体验(二)—— ——套色版画(报名进行中) "><img src="http://www.wgtong.cn/ckeditor_assets/pictures/1712/original_1.png" alt="[免费参加]艺术体验,版画体验(二)—— ——套色版画(报名进行中) " class="img1"></a>
                              </div>
                              <div class="col-md-3  row-padding">
                                  <a href="#" title="[免费参加]艺术体验,版画体验(二)—— ——套色版画(报名进行中) "><img src="http://www.wgtong.cn/ckeditor_assets/pictures/1713/original_1.jpg" alt="[免费参加]艺术体验,版画体验(二)—— ——套色版画(报名进行中)" class="img1"></a>
                              </div>
                              <div class="col-md-3  row-padding">
                              <a href="#" title="[免费参加]艺术体验,版画体验(二)—— ——套色版画(报名进行中) "><img src="http://www.wgtong.cn/ckeditor_assets/pictures/1714/original_2.jpg" alt="[免费参加]艺术体验,版画体验(二)—— ——套色版画(报名进行中) " class="img1"></a>
                              </div>
                              <div class="col-md-3  row-padding">
                              <a href="#" title="[免费参加]艺术体验,版画体验(二)—— ——套色版画(报名进行中) "><img src="http://www.wgtong.cn/ckeditor_assets/pictures/1715/original_3.jpg" alt="[免费参加]艺术体验,版画体验(二)—— ——套色版画(报名进行中) " class="img1"></a>
                              </div>
                          </div>
                          <div class="col-md-12 row-padding">
                                  <div class="list-text">
                                      <a class="" href="http://www.wgtong.cn/fontend/sites/78" title="文广通"> 文广通&nbsp</a> · 
                                      <a class="" href="javascript:;" title="亲子">&nbsp 亲子&nbsp</a> · 
                                      <a class="" href="javascript:;" title="2018-1-12"> &nbsp2018-1-12&nbsp</a> · 
                                      <a class="" href="javascript:;" title="免费">&nbsp 免费&nbsp</a>
                                  </div>
                          </div>
                   </div>
                      <hr class='content-line'></hr>

                      <div class="row row-margin row-padding0" >
                      <div class="col-md-3 row-padding">
                      <a href="#" ><img src="http://www.wgtong.cn/ckeditor_assets/pictures/1709/original_1.jpg" alt="第二张仅需100元 | 让人笑着却心里流泪的《夏洛特烦恼》!" class="img1 "></a>
                       </div>
                      <div class="col-md-9"> 
                           <h4><a href="#" title="[免费参加]逗萌剧场训练营亲子课堂,成都广播电视台经典946支持人">[免费参加]逗萌剧场训练营亲子课堂,成都广...</a></h4>  
                           <div class="list-text">
                           <a class="" href="javascript:;" title="2018-1-13"> &nbsp2018-1-13&nbsp</a> · 
                           <a class="" href="http://www.wgtong.cn/fontend/sites/78" title="成都市凯德广场魅力城L4 VIP室一层">成都市凯德广场魅&nbsp</a>  
                           <br>
                           <a class="" href="javascript:;" title="文广通">&nbsp 文广通&nbsp</a> · 
                           <a class="" href="javascript:;" title="讲座">&nbsp 讲座&nbsp</a>  ·    
                           <a class="" href="javascript:;" title="￥免费">&nbsp 免费&nbsp</a> 
                          </div>
                      </div>
                 </div>
                 <hr class='content-line'></hr>
                     </div>

                </div>
            
            </div>
            <div class="col-md-3 row-padding5">
                 <div class="contentRight clearfix">
                     <div class="contentRight-search">
                          <%= form_tag("/search",method:"get") do %>
                           <input type="text" class="search-input" autocomplete="off" placeholder="请输入要搜索的内容" >
                            <%= submit_tag "搜索", :class=>" btn btn-primary"%>
                          <%end%>
                     </div>
                     <div class="contentRight-ad ad-picture">
                         <a href="https://www.wgtong.cn/sign_up" title="文广通">
                             <img src="http://wgtong.cn/ckeditor_assets/pictures/1272/original_123.jpg" class="img-responsive">
                         </a>
                     </div>
                     <div class="contentRight-culturelist">
                           <div class="row">
                                <div class="col-md-6">
                                    <a href="https://www.wgtong.cn/frontend/pruducts/640" title="户外旅游 | 年俗·军事冬令营名额所剩无几(亲子) "><img src="http://www.wgtong.cn/ckeditor_assets/pictures/1729/original_1.jpg" alt="户外旅游 | 年俗·军事冬令营名额所剩无几(亲子) " class="img2"></a>
                                </div>
                                <div class="col-md-6">
                                    <a href="https://www.wgtong.cn/frontend/pruducts/640" title="户外旅游 | 年俗·军事冬令营名额所剩无几(亲子) ">户外旅游 | 年俗·军事冬令营名额所剩无几(亲子) </a>
                                </div>
                           </div>
                     </div>
                     <div class="contentRight-ad1 ad-picture1">
                        <a href="https://www.wgtong.cn/sign_up" title="文广通">
                            <img src="http://s.tanmer.cn/qgm5" class="img-responsive">
                        </a>
                     </div>
                     <div class="contentRight-culturelist">
                            <div class="row ">
                                <div class="col-md-6">
                                <a href="https://www.wgtong.cn/frontend/pruducts/640" title="户外旅游 | 年俗·军事冬令营名额所剩无几(亲子) ">户外旅游 | 年俗·军事冬令营名额所剩无几(亲子) </a>
                                </div>
                                <div class="col-md-6">
                                        <a href="https://www.wgtong.cn/frontend/pruducts/640" title="户外旅游 | 年俗·军事冬令营名额所剩无几(亲子) "><img src="http://www.wgtong.cn/ckeditor_assets/pictures/1729/original_1.jpg" alt="户外旅游 | 年俗·军事冬令营名额所剩无几(亲子) " class="img2"></a>
                                </div>
                                
                            </div>
                            <hr class='content-line'></hr>
                            <div class="culturelist-link">
                                <a href="/new" title="文广通,更多咨询">>>点击查看更多新闻咨询<a>
                            </div>
                    </div>
                    <div class="contentRight-ad2 ad-picture1">
                        <a href="https://www.wgtong.cn/sign_up" title="文广通">
                            <img src="http://www.wgtong.cn/ckeditor_assets/pictures/789/original_original_400x576-chengdu.png" class="img-responsive">
                        </a>
                    </div>
                    <div class="contentRight-culturelist">
                        <h4 >更多帮助</h4>
                        <div class="row ">
                            <div class="col-md-6 row-margin">
                            <a href="https://www.wgtong.cn/frontend/pruducts/640" title="服务项目 ">服务项目 </a>
                            </div>
                            <div class="col-md-6 row-margin">
                                <a href="https://www.wgtong.cn/frontend/pruducts/640" title="使用帮助 ">使用帮助</a>
                            </div>
                            <div class="col-md-6 row-margin">
                            <a href="https://www.wgtong.cn/frontend/pruducts/640" title="联系我们">联系我们 </a>
                            </div>
                            <div class="col-md-6 row-margin">
                                <a href="https://www.wgtong.cn/frontend/pruducts/640" title="入驻合作">入驻合作</a>
                            </div>
                            
                        </div>
                        
                    </div>
                    <div class="contentRight-culturelist">
                        <h4 >更多帮助</h4> 
                        <p><a href="https://www.wgtong.cn/frontend/pruducts/640" title="© 2017 公众文化大数据">© 2017 公众文化大数据 </a></p>
                        <p><a href="https://www.wgtong.cn/frontend/pruducts/640" title="违法和不良信息举报：12377">违法和不良信息举报：12377 </a></p>
                            
                        <p><a href="https://www.wgtong.cn/frontend/pruducts/640" title="用户评论服务协议 ">用户评论服务协议</a></p>
                        
                        <p><a href="https://www.wgtong.cn/frontend/pruducts/640" title="成都世联广慧科技有限公司">成都世联广慧科技有限公司</a></p>
                            
                        <div class="row ">
                            
                        <div class="col-md-6">
                             <img src="http://s.tanmer.cn/qgm6" class="img-responsive" alt="文广通,微信公众号二维码">
                        </div> 
                        <div class="col-md-6">
                           <img src="http://s.tanmer.cn/qgm6" class="img-responsive" alt="文广通,微信公众号二维码">
                        </div>
                           
                        </div>
                    
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">
     <div class="container">
          <div class="foot-content">
               <div class="foot-pic">
                 <a href="/" title="给你想要的文化生活">
                    <img src="http://www.wgtong.cn/ckeditor_assets/pictures/928/original_2.png" class="img-responsive" alt="文广通foot-logo">
                 </a>
               </div>
               <p>给您享要的文化生活</p>
               <p class="foot-link">© 2017 <a href="javascript;:">公众文化大数据</a>. 电子邮件: <a href="mailto.tang@wgtong.cn">tang@wgtong.cn</a> </p>
          </div>
     </div>
     
</div>