
<%=render 'header'%>
<div class="container margin-t">
    <div class="person-list">
        <h3 class="person-title">
           个人资料 
        </h3>
        <div class="person-info">
            <div class="info">
               <ul>
                  <li> 
                    <span>用户名：</span>
                    <input type="text" value="小明" disabled>
                  </li>
                  <li> 
                  <span>邮箱：</span>
                  <input type="email" value="180427@qq.com" disabled>
                  <a href="">修改邮箱</a>
                  </li>
                  <li> 
                  <span>手机：</span>
                  <input type="nummber" value="1989843565" disabled>
                  <a href="">修改手机</a>
                  </li>
                  <li> 
                  <span>密码：</span>
                  <input type="password" value="*****" disabled>
                  <a href="">修改密码</a>
                  </li>
                  <li> 
                  <span>真实姓名：</span>
                  <input type="text" value="" name="name" class="input-st">
                  </li>
                  <li> 
                  <span>身份证：</span>
                  <input type="nummber" value=""  class="input-st">
                  </li>
                  <li> 
                  <span>出生年月：</span>
                      <input type="text" value="" class="input-st">
                  </li>
                  <li> 
                  <span>所在城市：</span>
                      <input type="text" value="" class="input-st" >
                  </li>
                  <li class="sex"> 
                  <span>性别：</span>
                    <label for="sex-0">
                         <input type="radio" id="sex-0" name="sex" value="1" checked>男
                    </label>
                    <label for="sex-1">
                         <input type="radio" id="sex-1" name="sex" value="2">女
                    </label>
                  </li>
               </ul>
               <botton class="btn btn-danger btn-right">确定</button>
            </div>
        </div>
    </div>
</div>