<%=render 'header'%>
<div class="box-content">
     <div class="class-detail">
         <h3 class="detail-title">课程介绍</h3>
         <div class="detail-content">
             <p style="padding:0px 20px;line-height:normal;margin-top:10px;margin-bottom:20px">
               <%=image_tag("2119946900.jpg",class:"img2")%>
             </p>
             <p style="padding:0px 20px;line-height:normal;margin-top:10px;margin-bottom:20px">
               <span>钢琴是最理想的、又是相对普及的和声乐器，任何一件乐器，都没有像钢琴拥有那么多的独奏曲。在众多的钢琴独奏曲中，
               包含有巨大数量的属于人类最杰出创作之列的优秀之作，这是一笔无价的、具有永恒魅力的精神财富。钢琴大师霍夫曼说过:当钢琴家忘却尘世单独地面对他的乐器时，他能够与内心最深处的和最高尚的自我交谈，
               这种精神上的财富是不能用金钱购买也不能用暴力抢夺的。从物质财富来看，如果你是专业钢琴手，那么你将在乐队中处于领导地位，起到中坚力量的作用;如果你是业余爱好者，这将给你的生活拓展空间，有一技之长。</span>
             </p>
             <p style="padding:0px 20px;line-height:normal;margin-top:10px;margin-bottom:20px">
              <span>授课老师</span>
              <img src="http://image.gogoup.com/course/20180207/1517993929427.jpg" width="800" height="394"">
             </p>
             <p style="padding:0px 20px;line-height:normal;margin-top:10px;margin-bottom:20px">
             <span>学员须知</span>
             </p>
            <p style="padding:0px 20px;line-height:normal;margin-top:10px;margin-bottom:20px">
            <span>每个学生能在一个学年中报2门不同的学习课程</span>
            </p>
            <p style="padding:0px 20px;line-height:normal;margin-top:10px;margin-bottom:20px">
            <span>老师可以根据学生的报名二维码来统计和监督学生出勤情况</span>
            </p>
            <p style="padding:0px 20px;line-height:normal;margin-top:10px;margin-bottom:20px">
            <span>如果学生一门课程有3次及以上缺课，则取消下一年的报名资格</span>
            </p>
            <p style="padding:0px 20px;line-height:normal;margin-top:10px;margin-bottom:20px">
            <span>如果你在第一学年学习了基础课程，那么你在下一学年中可以选择相应的提高课程，但是如果你是零基础学员，只能报基础课程</span>
            </p>
            <p style="padding:0px 20px;line-height:normal;margin-top:10px;margin-bottom:20px">
            <span>限报人数：50</span>
           </p>
             <div class="btn-p"><a href="forms.html" ><button type="button" class="btn btn-danger ">马上报名</button></a></div>
         </div>
     </div>
</div>