<!DOCTYPE html>
<html lang="en">
  <head >
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="zh-CN" />
  <meta name="robots" content="INDEX,FOLLOW" />
  <meta name="author" content="tanmer.com" />
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>LxyWgtong</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container-bgcolor">
        <div class="container-fulid " >
       
          <%= yield %>

          <script> 
        
          $(function(){         
              $("#myCarousel").carousel({
                          interval:2000
                        });
                        
                           var documentHeight = 0;
                            var topPadding = -5;
                            var offset = $("#content_left").offset();
                            documentHeight = $(document).height();
                            $(window).scroll(function() {
                            if ($(window).width() > 992){
                                var sideBarHeight = $("#content_left").height();
                                if ($(window).scrollTop() > offset.top) {
                                    var newPosition = ($(window).scrollTop() - offset.top) + topPadding;
                                    var maxPosition = documentHeight - (sideBarHeight + 368);
                                    if (newPosition > maxPosition) {
                                        newPosition = maxPosition;
                                    }
                                    $("#content_left").css({
                                        marginTop: newPosition
                                    });
                                } else {
                                    $("#content_left").css({
                                        marginTop: 0
                                    });
                                };
                              }

                            });   
                        
                            


           });
      function wetSignup(){      
            document.getElementById("wetid").style.backgroundColor="#80E3D1";
            document.getElementById("wetid").style.color="white";
            document.getElementById("phoneid").style.backgroundColor="#666";
            document.getElementById("phoneid").style.color="white";
            document.getElementById("bind-phone").style.display="none";
            document.getElementById("bind-wechat").style.display="block"
             }
          function phoneSignup(){      
              document.getElementById("phoneid").style.backgroundColor="#80E3D1";
              document.getElementById("phoneid").style.color="white";
              document.getElementById("wetid").style.backgroundColor="#666";
              document.getElementById("wetid").style.color="white";
              document.getElementById("bind-wechat").style.display="none"
              document.getElementById("bind-phone").style.display="block"
               } 
            function meunBlock(){
               
                $("#meun_block").toggle();
                
            }
          </script>

          
         
  </body>
</html>
