h1.page-header
  | #{Cms::Page.model_name.human}列表:
  = @cms_site.name
  .pull-right
    - if @cms_channel
        => link_to "新建#{Cms::Page.model_name.human}", new_admin_cms_site_channel_page_path(@cms_site, @cms_channel), class: 'btn btn-primary'
    - else
        => link_to "新建#{Cms::Page.model_name.human}", new_admin_cms_site_channel_page_path(@cms_site, 1), class: 'btn btn-primary'
    => link_to "返回站点", admin_cms_site_channels_path(@cms_site), class: 'btn btn-default'

.panel.panel-default
  .panel-heading
    .panel-heading-btn
      a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-default" data-click="panel-expand"
        i class="fa fa-expand"
      a href="javascript:;" class="btn btn-xs btn-icon btn-circle btn-warning" data-click="panel-collapse"
        i class="fa fa-minus"
    h3.panel-title &nbsp;
  .panel-body
    == render 'list'
    = paginate @cms_pages

/ TODO: move this code to application.js
javascript:
  $(document).ready(function(){
    bindRemoveLabel('.well.filter_search label.control-label');
    $('form #search_column li a').on('click', function(){
      if($('.well.filter_search .form-group').length == 0){
        $('.well.form-horizontal.filter_search').removeClass('hidden').addClass('show');
      }
      var column_name = $(this).text();
      var column_key = $(this).data('key');
      var name = "filters["+ column_key +"]";
      input_name = "input[name='" + name +"']";
      if(!$('.well.filter_search').find(input_name).length > 0){
        $('.well.filter_search hr').before("<div class='form-group'><label class='col-xs-1 control-label'><i class='fa fa-trash-o m-r-5'></i><b>"+ column_name +"</b></label><div class='col-xs-5'><input class='form-control' name='"+ name +"' type='text'></div></div>");
        $('.well.filter_search .control-label i.fa-trash-o').off();
        bindRemoveLabel('.well.filter_search label.control-label');
      }
    })

    function bindRemoveLabel(dom){
      $(dom).on('click', function(){
        $(this).parent('.form-group').remove();
        if($('.well.filter_search .form-group').length == 0){
          $('.well.filter_search').addClass('hidden');
        }
      })
    }

  })
