<%= render file: @cms_site.template_dir + '_header.html' %>
<div id="wrap">
  <section id="start" class="padding-top-bottom text-center">
    <div class="container">
      <div class="row header">
        <div class="col-md-12">
          <h2>支付成功！</h2>
          <p>订单ID:</p>
        </div>
      </div>
    </div>
  </section>
  <!-- vertical center / slider -->
  <!-- end vertical center / slider -->
  <%= render file: @cms_site.template_dir + '_footer.html' %>
</div>
