<div class="container">
  <div class="row col-md-10 col-md-offset-1 login-body">
    <div class="col-md-6 col-md-offset-3 login-box-container">
      <%= render 'login_box' %>
    </div>
  </div>
</div>
