// Place all the styles related to the frontend/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* 通用样式 */
.m-0 {
  margin: 0px !important;
}

.prodShowRight p i {
  color: #35ceb4;
  margin-right: 5px;
}
