// Place all the styles related to the frontend/product_catalogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.wihi-100 {
  width: 100% !important;
  height: 100% !important;
}
.prodCatalogLi{
  margin: -20px -15px !important;
}
