// Place all the styles related to the frontend/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.orderDescription {
 width: 100%;
 text-overflow : ellipsis;
 overflow: hidden;
 white-space: nowrap
}
.orderPrice {
 font-size: 20px;
 color: #a94442;
}
.mb-30 {
  margin-bottom: 30px;
}
.color2e {
  color: #2e2e2e;
}
.productColorIcon {
  color:#35ceb4;
  display: inline-block;
  margin-right: 5px;
}
.read_content {
  font-size: 13px;
  vertical-align: -webkit-baseline-middle;
}

/* show page */
.quicknavBox {
  display: flex;
  flex-flow: row wrap;
}
.quicknavBox .quicknav {
  display: block;
  border: 1px solid #dfdfdf;
  padding: 15px 10px;
  border-radius: 5px;
  flex-grow: 1;
  margin-left: 5px;
  margin-top: 5px;
}
.quicknavBox .quicknav h4 span {
  color: #666;
}
.quicknavBox .quicknav:hover {
  border: 1px solid #e81a1b;
}
.quicknavBox .quicknav:hover h4 span{
  color: #e81a1b;
}
.quicknavBox .quicknav .mainBadge{
  color: #fff;
  background-color: #e81a1b;
}
.quicknavBox .quicknav .quicuh4 {
  margin: 0px;
}
