// Place all the styles related to the agent/assets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#exTab1 .tab-content {
  color : #222;
  // background-color: #428bca;
  padding : 5px 15px;
  border: solid 3px #428bca;
}

#exTab1 .nav-pills > li > a {
  border-radius: 0;
}

#image_content img{
  max-width: 200px;
  padding: 10px;
  float: left;
}
.green {
  color: green
}


