// Place all the styles related to the agent/home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-horizontal .form-group {
  margin-right: 0px;
  margin-left: 0px;
}

.member-features{
  position: relative;
  display: block;
  margin-bottom: 30px;
}
.member-features span{
  margin: 5px;
  color: #fff;
  padding: 0px 5px;
  font-size: 18px;
}

.radio_buttons input[type="radio"] {
  position: absolute;
}

.checked {
  box-shadow: 0 5px 10px #ec3506;
  border-color: #ec3506;
}
.radio_buttons label {
  display: inline-block;
  background-color: #ddd;
  border:2px solid #ddd;
  border-radius:25px;
  padding: 4px 11px;
  font-family: Arial;
  font-size: 16px;
  cursor: pointer;
}
