.iphone-bg {
  height: 620px;
  background: url("/assets/iphone-black.png") top left no-repeat;
  position: relative;
  padding-top: 103px;
  padding-left: 50px;
}

.iphone-bg-white {
  height: 620px;
  background: url("/assets/iphone-white-lg.png") top left no-repeat;
  position: relative;
  padding-top: 65px;
  padding-left: 14px;
}
