<!--文化底部内容 -->
<div class="footer">
     <div class="container">
          <div class="foot-content">
               <div class="foot-pic">
                 <a href="/" title="给你想要的文化生活">
                    <img src="http://www.wgtong.cn/ckeditor_assets/pictures/928/original_2.png" class="img-responsive" alt="文广通foot-logo">
                 </a>
               </div>
               <p>给您享要的文化生活</p>
               <p class="foot-link">© 2017 <a href="javascript;:">公众文化大数据</a>. 电子邮件: <a href="mailto.tang@wgtong.cn">tang@wgtong.cn</a> </p>
          </div>
     </div>

   
</div>