<div class="container-fluid box-bg">
     <div class="container box-center">
          <div class="row">
               <div class="col-md-6 hidden-xs box_center_left">
                    <p>
                      <span class="glyphicon glyphicon-th-list icon-left"></span>
                      <span class="text-color">文广通</span>
                    </p>
                    <h2 class="color-white text-center box-header">
                        <p class="small color-white box-small">一个综合公共文化大数据平台</p>
                    </h2>
                     <div class="box-center-icon text-center color-green">
                         <span class="glyphicon glyphicon glyphicon-grain grass_style"></span> 
                         <span class="glyphicon glyphicon-tree-deciduous tree_style"></span> 
                         <span class="glyphicon glyphicon glyphicon-grain grass_style"></span> 
                     </div>
               </div>
               <div class="col-md-6 box_center_right" >
                    <div class="row" style="margin-top:15px">
                        <div class="col-md-7 col-md-offset-5">
                             <div aria-label=".." class="btn-group text-center btn-group-md" role="group" >
                                 <button class="btn right_btn right_btn_bg" type="button" onclick="phoneSignup()" id="phoneid">手机号注册</button>
                                 <button class="btn right_btn" onclick="wetSignup()" type="button" id="wetid">微信号注册</button>
                             </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:80px">
                         <div class="col-md-8 col-md-offset-2">
                              <div id="bind-phone">
                                  <h3 style="color:#999">注册</h3>
                                  <%= form_tag("/sign_up",method:"post",class:"register",id:'phoneForm',novalidata:"novalidata") do%>
                                    <div class="from-group">
                                        <label style="color:#eee">手机号</label>
                                        <input class="from-control" name="user[mobile]" placeholder="手机号" aria-required="ture" required type="username">
                                        <input id="wechat-response-code" name="user[wechat_code]" type="hidden">
                                    </div>
                                    <div class="input-group">
                                        <label style="color:#eee">手机号</label>
                                        <input class="from-control" name="user[code]" placeholder="验证码" aria-required="ture" required type="username" type="text"
                                        style="border-radius:4px;border-top-right-radius:0px;border-bottom-right-radius:0px">
                                         <div class="input-group-btn">
                                             <button class="btn btn-default" data-url="/api/v1/session/sms">获取验证码</button>
                                         </div>
                                    </div> 
                                    <div class="login-button">
                                       <input type="submit" name="commit" value="立即注册" class="btn btn-lg right_btn right_btn_bg" id="login_click" data-href="/" data-disable-with="立即注册">
                                    </div>

                                  <%end%>
                              </div>
                               <div id="bind-wechat" data-url="/sign_up" >
                                   <h3 class="text-center" style="color:#999">绑定微信</h3>
                                   <img src="https://wxopen.tanmer.com/wx/mp_auth/qrcode.svg?code=495f4577a62f0777cbff7cb664cfb126" style="width:180px">
                                    <p>正在等待扫码...</p>
                                </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
