<div class="container-fluid box-bg">
     <div class="container box-center">
          <div class="row">
               <div class="col-md-6 hidden-xs box_center_left">
                    <p>
                      <span class="glyphicon glyphicon-th-list icon-left"></span>
                      <span class="text-color">文广通</span>
                    </p>
                    <h2 class="color-white text-center box-header">
                        <p class="small color-white box-small">一个综合公共文化大数据平台</p>
                    </h2>
                     <div class="box-center-icon text-center color-green">
                         <span class="glyphicon glyphicon glyphicon-grain grass_style"></span> 
                         <span class="glyphicon glyphicon-tree-deciduous tree_style"></span> 
                         <span class="glyphicon glyphicon glyphicon-grain grass_style"></span> 
                     </div>
               </div>
               <div class="col-md-6 box_center_right" >
                    <div class="row" style="margin-top:15px">
                        <div class="col-md-7 col-md-offset-5">
                             <div aria-label=".." class="btn-group text-center btn-group-md" role="group" >
                                 <button class="btn right_btn right_btn_bg" type="button">手机号注册</button>
                                 <button class="btn right_btn " type="button">微信号注册</button>
                             </div>
                        </div>
                    </div>
                    <div class="row" style="margin-top:80px">
                         <div class="col-md-8 col-md-offset-2">
                              <div class="bind-phone">
                                  <h3>注册</h3>
                                  
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
