/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";
 body{
  background-color: #f2f2f2
 }
 html, body {
    background-color: #f2f2f2 
 }
 body, h1, h2, h3, h4, h5, h6, p, input, ul, ol, li, dl, dt, dd, button {padding: 0;margin:0 }
 li{
   list-style:none 
 }

 .img1{
     width:280px;height:210px
 }
 .img2{
    width:800px;height:266px
}
 
 .contain{
     margin: 0 auto;
    width:1200px; 
 }
 .header{
     background-color: #e81a1b
 }
 .navbar-default{
    background-color: #e81a1b!important
 }
 .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
     color: black
 }
 .navbar-default .navbar-nav > li > a {
     color: white
 }
 h3{
    float: left;
    color: #303332;
    font-size: 16px;
 }
 .text-right{
    float: right;
 }
 .login-po{
     position:relative;
     top:-40px;
     left:953px;
     color: white
 }
 .course-list ul li{
    float: left;
    position: relative;
    width: 280px;
    margin-right: 25px;
    margin-bottom: 30px;
    background-color: #FFFFFF;
    border-radius: 2px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
 }
 .course-list ul{
    margin-right:-24px;
 }
 .course-title{
    position: relative;
    margin: 10px 0 30px 0;
    height: 20px;
 }
 .course-title p{
    position: absolute;
    right: 0;
 }
 .course-title p a{
    color: #666666;
    font-size: 14px;
    margin: 0 5px;
 }
 .course-text{
     padding:10px
 }
 .text-box .title a{
     color: #666;
     font-size:18px ;
     color:#f75859 

 }
 .text-box .title a:hover{
    color:red
}
.tag-item{
    font-size: 13px;
    color: #787878;
}
.title{
    font-size: 16px;
    color: #303332;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
}
.text-box{
    padding-top: 11px;
    padding-bottom:21px;
    padding-left: 38px;
    padding-right:38px  
}
 .margin-t{
   margin-top: 10px
 }
 label{
    color:black
}
.margin-b{
    margin-bottom:20px
}

 .left{
     float: left;
 }
 .right{
    float: right;
 }
 .box-content{
    width: 880px;
    height: 100%;   
    margin: 0 auto; 
    border-color:red  
 }
 .class-detail{      
    background-color: #FFFFFF;
    border-radius: 2px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 22px;
    color: #666666;
 }
 .box-content .class-detail h3.detail-title{
    height: 60px;
    line-height: 60px;
    color: #303332;
    font-size: 16px;
    padding-left: 20px;
    border-bottom: 1px solid #f2f2f2;
    background-color: #FFFFFF;
 }
 .box-content .class-detail h3{
     float: none
 }
 .detail-content{
    padding: 20px;
    word-wrap: break-word;
 }
 
 .detail-content p:nth-of-type(2) span, .detail-content p:nth-of-type(5) span, .detail-content p:nth-of-type(6) span,
 .detail-content p:nth-of-type(7) span, .detail-content p:nth-of-type(8) span{
    color:#666666 
 }
 .detail-content p:nth-of-type(3) span, .detail-content p:nth-of-type(4) span, .detail-content p:nth-of-type(9) span{
    font-size: 24px;
    font-family: arial, helvetica, sans-serif; 
    color:#666666;
    font-weight:bold 
 }
 .btn-p{
   position: relative;
   left:362px ;
 }
.person-list .person-title{
    height: 60px;
    line-height: 60px;
    color: #303332;
    font-size: 16px;
    padding-left: 20px;
    border-bottom: 1px solid #f2f2f2;
    background-color: #FFFFFF;
    margin-bottom:0 
} 
.person-list h3{
    float:none; 
}
.person-info{
    background: #ffffff;
    height: auto;
    overflow: hidden;
    padding: 18px 30px 40px;
   
}
.person-info .info{
    position: relative;
    left:351px ;
    
}
.person-info .info ul li{
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 40px;
    color: #666666; 
}
.person-info .info ul li span{
    text-align: right;
    width: 95px;
    display: inline-block;
    vertical-align: middle;
    zoom: 1;
    color:#666666; 

}
.person-info .info ul li input{
    font-family: "Helvetica", arial, "Microsoft Yahei", "微软雅黑";
    font-size: 12px;
    border: 0;
    background-color: #fff;
    outline: none;
    color: #666666;
}
.person-info .info ul li label{
    margin-right: 20px;
    color:#666666; 
}
.input-st{
    padding: 7px 5px;
    font-size: 14px !important;
    line-height: 24px;
    border: 1px solid #DEDEDE !important;
    width: 260px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.btn-right{
   position: relative;
   left:166px 
}